
@{
    ViewBag.Title = "KhongTheTruyCap";
    Layout = "~/Areas/adminarea/Views/Shared/_LayoutAdmi.cshtml";

}
<style>
    keyframes runningText {
        0% { transform: translateX(0); }
        100% { transform: translateX(100%); }
    }

    h2 {
        color: red;
        animation: runningText 5s linear infinite;
    }
</style>
<h2>Bạn không thể truy cập vào chức năng này khi chưa có sự cho phép của chủ gara</h2>

