
@{
    ViewBag.Title = "Cập nhật hình ảnh";
    Layout = "~/Areas/adminarea/Views/Shared/_LayoutAdmi.cshtml";
}
<div style="padding:15px">
    <h2 class="m-0">Cập nhật hình ảnh</h2>
    <br />
    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Cập nhật ảnh</button>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cập nhật hình ảnh</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" action="CapNhatAnh">
                        <label>Chọn ảnh</label>
                        <input type="hidden" name="id" value="@ViewBag.id">
                        <p>
                            <input type="file" name="fileanh" />
                            <br />
                            <br />
                            
                            <button class="btn btn-user btn-success">UpLoad</button>
                        </p>
                        <p style="color:red">
                            @ViewBag.error
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add these links to include Bootstrap CSS and JS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
